# See http://help.github.com/ignore-files/ for more about ignoring files.

# testing
coverage


# production
#build

# misc
node_modules
npm-debug.log
.DS_Store
.env


# Mac
.DS_Store


# mobile
mobileapp/hooks
mobileapp/platforms
mobileapp/plugins
mobileapp/res
mobileapp/config.xml
mobileapp/package.json